<form action="/submit" method="post">
  <h1>NODE MAKES MIKE WANT TO DRINK</h1>


  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="email address" />
  <input type="text" name="year" placeholder="Year of Birth">

  <select class="position" name="Position" placeholder="Position">
    <option value="technical manager">Technical Manager</option>
    <option value="developer">developer</option>
    <option value=" UI designer">UI designer</option>
    <option value="graphic designer">graphic designer</option>
  </select>

  <input type="password" name="Password" placeholder="Password">
  <button type="submit">Submit</button>
</form>
